[Unit]
Description=OpenVPN connection to %i
PartOf=openvpn.service
ReloadPropagatedFrom=openvpn.service
Before=systemd-user-sessions.service
After=network-online.target
Wants=network-online.target
Documentation=man:openvpn(8)

[Service]

PrivateTmp=true
Type=forking
PIDFile=/run/openvpn/%i.pid
ExecStartPre=/usr/bin/echo servei %i %I
ExecStart=/usr/sbin/openvpn --daemon --writepid /var/run/openvpn/%i.pid --cd
/etc/openvpn/ --config %i.conf

[Install]
WantedBy=multi-user.target
/usr/lib/systemd/system/docker.service
--fixed-cidr=172.19.0.0/16

# systemctl daemon-reload
# systemctl restart docker.service
